@model List<Book>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="m-3 text-center">Knihy</h1>

@foreach (Book book in Model)
{
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Books" asp-action="Detail" asp-route-id="@book.BookId" class="text-decoration-none">
            <h3 class="card-title text-black my-3">@book.Title</h3>
            <h6 class="card-subtitle mb-4 text-muted">by @book.Author</h6>
            <div class="d-flex flex-row justify-content-end">
                <h4 class="text-success"> @book.Price CZK</h4>
            </div>
        </a>
    </div>
</div>
}
