@model List<Book>

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<head>
    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreWebApplication.WebMvcApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/BookstoreWebApplication.WebMvcApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />
</head>
<body>
    <div class="fullscreen-container">
        <header class="banner-project background-accent">
            <span class="title">
                Book e-shop
            </span>
            <span>
                BookstoreWebApplication.WebMvcApp
            </span>
        </header>

        <div class="bg-container">
            <div class="acc-box">
                <h2 class="title text-accent">Register</h2>
                <input type="email" name="" value="" placeholder="Email" />
                <input type="password" name="" value="" placeholder="Password" />
                <p>
                    Have an existing account?
                    <a class="text-accent" asp-area="" asp-controller="Books" asp-action="Login">
                        Login!
                    </a>
                </p>

                <a asp-controller="Books" asp-action="List" class="background-accent btn btn-success">Create account</a>
            </div>
        </div>

        <footer class="background-accent banner-project">
        </footer>
    </div>
</body>