@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,300..700;1,300..700&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-accent {
    color: #1F4D3A;
}

.background-accent {
    background-color: #1F4D3A;
}

.banner-project {
    color: white;
    padding-right: 64px;
    width: 100%;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.banner-title {
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
    padding: 16px 64px 8px 64px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Moul', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    display: flex;
    align-items: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
}

.user-icon {

    width: 28px;
    height: 32px;
}

.main {
    margin: 0 128px 0 128px;
}

.cart-icon {
    width: 36px;
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.grid-cell {
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    height: 300px;
}

.b-img {
    height: 200px;
    width: 100%;
    border: solid 1px grey;
}

.b-title {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.b-author {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
}