@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI';
}

.text-accent {
    color: #1F4D3A;
}

.background-accent {
    background-color: #1F4D3A;
    color: white;
}

.banner-project {
    color: white;
    padding: 8px 64px 8px 64px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    min-height: max-content;
    max-height: 72px;
    justify-content: space-between;
    align-items: center;
}

.banner-project .title {
    font-size: 24px;
}

.banner-title {
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
    padding: 16px 128px 8px 128px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.title {
    font-family: 'Moul', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    display: flex;
    align-items: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
}

.user-icon {

    width: 28px;
    height: 32px;
}

.main {
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-icon {
    width: 36px;
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    column-gap: 16px;
    row-gap: 20px;
    min-width: min-content;
    max-width: 1200px;
}

.grid-cell {
    min-height: max-content;
    height: 100%;
    min-width: fit-content;
    display: grid;
    grid-template-rows: auto min-content min-content;
}

.grid-cell a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.b-img {
    height: 100%;
    width: 100%;
    border: solid 1px grey;
    border-radius: 8px;
    object-fit: contain;
    background-color: black;
}

.b-title {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 6px;
}

.b-author {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    margin-bottom: 4px;
}

.b-price {
    width: max-content;
    color: #2F2F2F;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.b-stock {
    width: max-content;
    color: #5A5A5A;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.cell-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    gap: 16px;
    align-self: end;
}

.btnToCart {
    max-width: max-content;
    height: max-content;
    padding: 12px 16px 12px 16px;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

/*-----------Detail view-----------*/

.detail-container {
    min-height: 256px;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
}

.b-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.detail-container img {
    max-height: 700px;
    width: 100%;
    max-width: 800px;
    border: solid 2px grey;
    border-radius: 8px;
    object-fit: contain;
    background-color: black;
    display: flex;
    justify-self: right;
}

.detail-container .b-title {
    font-size: 32px;
    margin: 32px 0 12px 0;
}

.detail-container .b-author {
    font-size: 24px;
    text-decoration: none;
    margin: 0 0 16px 0;
}

.b-desc {
    margin-bottom: 64px;
}

.details-row {
    display: flex; 
    justify-content: space-between;
}

.detail-container .b-price {
    display: flex;
    align-items: end;
    font-size: 32px;
}

.stock-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail-container .b-stock {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.detail-container .btnToCart {
    font-size: 20px;
    line-height: 1em;
    min-width: 128px;
    min-height: 64px;
}

.btnBackToList {
    align-self: flex-start;
    margin: 64px 0 24px 0;
}


/*-----------Login/Register view-----------*/

.fullscreen-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    overflow-y: hidden;
}

.bg-container {
    background-image: url("../img/bookcase-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-box {
    min-width: 600px;
    height: fit-content;
    background: #FFFFFF;
    border: 2px solid rgba(217, 217, 217, 0.5);
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 42px 56px 42px 56px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.acc-box h2 {
    display: flex;
    align-self: center;
}

.acc-box input, .acc-box .btn {
    padding: 8px 8px 8px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-family: 'Finlandica';
    font-size: 1em;
    font-weight: 500;
    line-height: 2em;
    height: 64px;
}

.acc-box input {
    font-size: 20px;
    background: rgba(217, 217, 217, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.2);
    min-height: max-content;
}

.acc-box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.acc-box .btn {
    background: #1F4D3A;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc-box p {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0,0,0, .7);
}

.acc-box p a {
    text-decoration: underline;
    font-style: normal;
    font-weight: 700;
}

.banner-footer {
    height: 100px;
}