@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI';
}

.text-accent {
    color: #1F4D3A;
}

.background-accent {
    background-color: #1F4D3A;
}

.banner-project {
    color: white;
    padding-right: 64px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.banner-title {
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
    padding: 16px 64px 8px 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.title {
    font-family: 'Moul', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 58px;
    display: flex;
    align-items: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
}

.user-icon {

    width: 28px;
    height: 32px;
}

.main {
    margin: 0 128px 0 128px;
}

.cart-icon {
    width: 36px;
    height: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 28px;
    row-gap: 16px;
    justify-content: center;
    min-width: min-content;
    max-width: 1200px;
}

.grid-cell {
    height: max-content;
    min-width: max-content;
}

.b-img {
    height: 280px;
    width: 100%;
    border: solid 1px grey;
    border-radius: 8px;
    object-fit: contain;
    background-color: black;
}

.b-title {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    margin-top: 4px;
}

.b-author {
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    margin-bottom: 4px;
}

.b-price {
    color: #2F2F2F;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.b-stock {
    color: #5A5A5A;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.cell-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    gap: 16px;
}

#btnToCart {
    width: 72px;
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: white;
}